html {
   
    background-image: url(https://www.ephotozine.com/articles/check-out-these-18-amazing-underwater-shots-waiting-for-your-votes--29019/images/Underwater_Sunshine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 
}


header {
    width: 100%;
    background-color: rgb(5, 30, 39);

}

.headImg {
    width: 70%;
    height: 70%;
    padding: 15px;
}

.fish {
    width: 150px; 
}

.fish-and-locations-box {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.owned-fish-container {
    display: flex;
    background-color: rgba(5, 30, 39, 0.795);
    justify-content: space-around;
    margin-bottom: 10%;
    
}

.owned-container {
    display: flex;
    padding: 10px;
}

.owned-container2 {
    display: flex;
    padding: 10px;
}

.owned-container3 {
    display: flex;
    padding: 10px;
}

.locations-text {
    background-color: rgb(5, 30, 39);
    padding: 10px;
}

.tips-box {
    display: flex;
    color: seashell;
    justify-content: space-around;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    margin-bottom: 10%;
}

.owned-fish-box {
    font-family: 'Libre Baskerville', serif;
    color: seashell;
}

.harvest-container {
    display: flex;
    justify-content:space-evenly;
    background-color: rgba(255, 245, 238, 0.856);
    padding: 15px;
}
.earth {
    max-width: 30%;
    height: auto;
}