html {
    background-color: rgb(227, 243, 248);
    background-image: url(https://img.search.brave.com/GnjJhbuvbCHXFcLcNvwG-hnKaL6lJoxxbU144lcV3tA/fit/1200/1200/ce/1/aHR0cDovL3dhbGx1/cC5uZXQvd3AtY29u/dGVudC91cGxvYWRz/LzIwMTYvMDEvMjU5/MzE0LW5hdHVyZS1s/YW5kc2NhcGUtc2Vh/LWJvYXQtcm9jay1o/dWdlLXRyZWVzLWxp/bWVzdG9uZS1UaGFp/bGFuZC10cm9waWNh/bC5qcGc);
    background-size: cover;
    background-repeat: no-repeat;
}


header {
    width: 100%;
    background-color: rgb(5, 30, 39);

}
.main-content {
    flex-wrap: wrap;
}

.headImg {
    width: 70%;
    height: 70%;
    padding: 15px;
}
.fish {
    width: 150px; 
}


aside {
    display: flex;

}
main {
    display: flex;
    justify-content: space-around;
}
.owned-fish-box {
    background-color: rgb(29, 60, 70);
    color: seashell;
    padding: 10px;
}
.locations-box {
    background-color: rgb(29, 60, 70);
    color: seashell;
    padding: 10px;
}
aside {
    background-color: rgb(29, 60, 70);
    color: seashell;
    padding: 10px;
}
.owned-container {
    display: flex;
    background-color: rgb(5, 30, 39);
    padding: 10px;
}
.owned-container2 {
    display: flex;
    padding: 10px;
}
.owned-container3 {
    display: flex;
    background-color: rgb(5, 30, 39);
    padding: 10px;
}
.tips-box {
    background-color: rgb(5, 30, 39);
    padding: 10px;
}
.locations-text {
    background-color: rgb(5, 30, 39);
    padding: 10px;
}
.tank-care {
    background-color: rgb(5, 30, 39);
    padding: 10px;
}
.temperature {
    background-color: rgb(5, 30, 39);
    padding: 10px;
}